<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>University of Oxford</title>
    <link rel="stylesheet" href="Oxford.css" />
    <link
      rel="icon"
      href="/Bootstrap-demo/Images/Oxford/University-of-Oxford-lg.jpg"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <!-- ------------- -->
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
  </head>
  <body>
    <!-- header  -->
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"
            ><img
              src="/Bootstrap-demo/Images/Oxford/oxweb-logo.gif"
              alt="oxweb-logo"
          /></a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <div class="dropdown">
                <button
                  class="dropbtn dropdown-toggle"
                  data-bs-toggle="dropdown"
                >
                  admissions
                </button>
                <div class="dropdown-content">
                  <a href="#">Undergraduate</a>
                  <a href="#">Graduate</a>
                  <a href="#">Continuing education</a>
                </div>
              </div>
              <div class="dropdown">
                <button
                  class="dropbtn dropdown-toggle"
                  data-bs-toggle="dropdown"
                >
                  research
                </button>
                <div class="dropdown-content">
                  <a href="#">Divisions</a>
                  <a href="#">Research impact</a>
                  <a href="#">Libraries</a>
                  <a href="#">Innovation and Partnership</a>
                  <a href="#">Support for researchers</a>
                  <a href="#">Research in conversation</a>
                  <a href="#">Public Engagement with Research</a>
                </div>
              </div>
              <div class="dropdown">
                <button
                  class="dropbtn dropdown-toggle"
                  data-bs-toggle="dropdown"
                >
                  news & events
                </button>
                <div class="dropdown-content">
                  <a href="#">Events</a>
                  <a href="#">Features</a>
                  <a href="#">Oxford profile</a>
                  <a href="#">Oxford and coronavirus</a>
                  <a href="#">Oxford and Brexit</a>
                  <a href="#">News releases for journalists</a>
                  <a href="#">Filming in Oxford</a>
                  <a href="#">Find An Expert</a>
                </div>
              </div>
              <div class="dropdown">
                <button
                  class="dropbtn dropdown-toggle"
                  data-bs-toggle="dropdown"
                >
                  about
                </button>
                <div class="dropdown-content">
                  <a href="#">Organisation</a>
                  <a href="#">Facts and figures</a>
                  <a href="#">Oxford people</a>
                  <a href="#">Oxford Access</a>
                  <a href="#">International Oxford</a>
                  <a href="#">Building Our Future</a>
                  <a href="#">Jobs</a>
                  <a href="#">牛津大学</a>
                </div>
              </div>
            </ul>
            <!-- button near search button  -->
            <div class="group">
              <div class="btn-group">
                <button
                  type="button"
                  class="btn1 btn-secondary1 dropdown-toggle"
                  data-bs-toggle="dropdown"
                  style="padding: 0px 15px; margin-right: -5px"
                >
                  Colleges
                </button>
                <div class="dropdown-menu">
                  <a href="#" class="dropdown-item">Action</a>
                  <a href="#" class="dropdown-item">Another action</a>

                  <a href="#" class="dropdown-item">Separated link</a>
                </div>
              </div>
              <div class="btn-group">
                <button
                  type="button"
                  class="btn1 btn-secondary1 dropdown-toggle"
                  data-bs-toggle="dropdown"
                  style="padding: 0px 15px"
                >
                  Devisions & departments
                </button>
                <div class="dropdown-menu">
                  <a href="#" class="dropdown-item">Action</a>
                  <a href="#" class="dropdown-item">Another action</a>

                  <a href="#" class="dropdown-item">Separated link</a>
                </div>
              </div>
            </div>
            <div class="topnav">
              <div class="search-container">
                <form>
                  <input type="text" placeholder="Search.." />
                  <button type="submit"><i class="fa fa-search"></i></button>
                </form>
              </div>
            </div>
            <!-- header below search button -->
            <div class="item">
              <button type="button" class="btn btn-outline-dark">
                Coronavirus
              </button>
              <button type="button" class="btn btn-outline-dark">Staff</button>
              <button type="button" class="btn btn-outline-dark">
                Oxford Students
              </button>
              <button type="button" class="btn btn-outline-dark">Alumni</button>
              <button type="button" class="btn btn-outline-dark">
                Local Community
              </button>
            </div>
          </div>
        </div>
      </nav>
    </header>

    <!-- carousel slide -->

    <div class="container-fluid p-0">
      <div
        id="myCarousel"
        class="carousel carousel-light slide"
        data-bs-ride="carousel"
      >
        <!-- Carousel indicators -->
        <ol class="carousel-indicators">
          <li
            data-bs-target="#myCarousel"
            data-bs-slide-to="0"
            class="active"
            style="width: 15px; height: 15px; border-radius: 100%"
          ></li>
          <li
            data-bs-target="#myCarousel"
            data-bs-slide-to="1"
            style="width: 15px; height: 15px; border-radius: 100%"
          ></li>
          <li
            data-bs-target="#myCarousel"
            data-bs-slide-to="2"
            style="width: 15px; height: 15px; border-radius: 100%"
          ></li>
        </ol>

        <!-- Wrapper for carousel items -->
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="/Bootstrap-demo/Images/Oxford/bcar_ug_uniq_paruple.jpg"
              class="d-block w-100"
              alt="Slide 1"
            />
            <div class="carousel-caption d-none d-md-block">
              <h2
                style="
                  color: whitesmoke;

                  margin-left: 50px;
                  text-transform: uppercase;
                  text-align: left;
                  font-size: 43px;
                  font-weight: bold;
                  font-family: PT Sans Narrow, Helvetica Neue, Arial, Helvetica,
                    sans-serif;
                "
              >
                Curious about undergraduate study at Oxford? <br />
                Try it out with UNIQ
              </h2>
              <p
                style="
                  margin-left: 50px;
                  text-transform: capitalize;
                  text-align: left;
                  font-size: 18px;
                "
              >
                Sign up now for all the latest information on UNIQ 2022 and how
                to appl
              </p>
            </div>
          </div>
          <div class="carousel-item">
            <img
              src="/Bootstrap-demo/Images/Oxford/bcar_conted_xmas21.jpg"
              class="d-block w-100"
              alt="Slide 2"
            />
            <div class="carousel-caption d-none d-md-block">
              <h2
                style="
                  margin-left: -300px;
                  text-transform: uppercase;
                  color: whitesmoke;

                  font-size: 43px;
                  font-weight: bold;
                  font-family: PT Sans Narrow, Helvetica Neue, Arial, Helvetica,
                    sans-serif;
                "
              >
                Discover something new every day in December
              </h2>
              <p
                style="
                  margin-left: 50px;
                  text-transform: capitalize;
                  text-align: left;
                  font-size: 18px;
                "
              >
                The Festive Countdown Calendar 2021, your gift from Oxford
                Continuing Education. Thirty-one days of free, online learning
                enough to take you right up to the new year
              </p>
            </div>
          </div>
          <div class="carousel-item">
            <img
              src="/Bootstrap-demo/Images/Oxford/bcar_gar_header_dawn.jpg"
              class="d-block w-100"
              alt="Slide 3"
            />
            <div class="carousel-caption d-none d-md-block">
              <h2
                style="
                  margin-left: -500px;
                  text-transform: uppercase;
                  color: whitesmoke;

                  font-size: 43px;
                  font-weight: bold;
                  font-family: PT Sans Narrow, Helvetica Neue, Arial, Helvetica,
                    sans-serif;
                "
              >
                January deadlines for graduate study
              </h2>
              <p
                style="
                  margin-left: 50px;
                  text-transform: capitalize;
                  text-align: left;
                  font-size: 18px;
                "
              >
                Read our advice on what to look out for when you submit your
                graduate application
              </p>
            </div>
          </div>
        </div>

        <!-- Carousel controls -->
        <a
          class="carousel-control-prev"
          href="#myCarousel"
          data-bs-slide="prev"
        >
          <span
            class="carousel-control-prev-icon"
            style="width: 100px; height: 80px"
          ></span>
        </a>
        <a
          class="carousel-control-next"
          href="#myCarousel"
          data-bs-slide="next"
        >
          <span
            class="carousel-control-next-icon"
            style="width: 100px; height: 80px"
          ></span>
        </a>
      </div>
    </div>

    <!-- news and events  -->

    <div class="container-fluid">
      <div class="row col-11" style="padding-top: 40px">
        <div class="view-header">
          <h2 class="title">News</h2>
          <div class="more-link">
            <a href="#"> All News </a>
          </div>
        </div>

        <div class="m-0">
          <div class="card-group">
            <div class="card m-3" style="border: none">
              <img
                src="/Bootstrap-demo/Images/Oxford/oil field - adjusted.jpg"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body" style="padding: 15px 0px">
                <h2
                  class="card-title"
                  style="font-size: 18px; font-weight: bold"
                >
                  Safer carbon capture and storage
                </h2>
                <p class="card-text">22 Dec 2021</p>
              </div>
            </div>
            <div class="card m-3" style="border: none">
              <img
                src="/Bootstrap-demo/Images/Oxford/9a431cd7-ac6d-4218-93a6-a66587586dfe.jpg"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body" style="padding: 15px 0px">
                <h2
                  class="card-title"
                  style="font-size: 18px; font-weight: bold"
                >
                  New Year&#039;s Honours 2022
                </h2>
                <p class="card-text">1 Jan 2022</p>
              </div>
            </div>
            <div class="card m-3" style="border: none">
              <img
                src="/Bootstrap-demo/Images/Oxford/AEMcG image 2014 cropped.jpg"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body" style="padding: 15px 0px">
                <h2
                  class="card-title"
                  style="font-size: 18px; font-weight: bold"
                >
                  Oxford profiles - Professor Alister McGrath
                </h2>
                <p class="card-text">
                  Religious people need to explain and debate better - faith, CS
                  Lewis and Christmas
                </p>
              </div>
            </div>
            <div class="view-header1">
              <h2 class="title1">Events</h2>
              <div class="more-link1">
                <a href="#"> All Events </a>
              </div>
            </div>
            <div class="date1">
              <div
                class="dates-calendardate"
                style="
                  background: #002147;
                  color: white;
                  padding: 2px 8px;
                  height: 50px;
                "
              >
                <span
                  class="date-calendardate-day"
                  style="
                    display: block;
                    margin-bottom: -8px;
                    padding-left: 3px;
                    letter-spacing: 5px;
                  "
                  >08</span
                >
                <span
                  class="date-calendardate-month"
                  style="text-transform: uppercase"
                  >Jan</span
                >
              </div>
              <div class="card-body" style="margin-top: -15px">
                <h2
                  class="card-title"
                  style="font-size: 18px; font-weight: bold"
                >
                  <a href="#" style="text-decoration: none"
                    >Colourful Kaleidoscopes</a
                  >
                </h2>
                <p class="card-text">History of Science Museum</p>
                <span class="card-text" style="font-size: 12px"
                  >22 Dec 2021</span
                >
              </div>
            </div>
            <!-- 2 -->
            <div
              class="date1"
              style="
                margin-top: 150px;
                position: absolute;
                left: 1175px;
                display: flex;
              "
            >
              <div
                class="dates-calendardate"
                style="
                  background: #002147;
                  color: white;
                  padding: 2px 8px;
                  height: 50px;
                "
              >
                <span
                  class="date-calendardate-day"
                  style="
                    display: block;
                    margin-bottom: -8px;
                    padding-left: 3px;
                    letter-spacing: 5px;
                  "
                  >20</span
                >
                <span
                  class="date-calendardate-month"
                  style="text-transform: uppercase"
                  >Jan</span
                >
              </div>
              <div class="card-body" style="margin-top: -15px">
                <h2
                  class="card-title"
                  style="font-size: 18px; font-weight: bold"
                >
                  <a href="#" style="text-decoration: none"
                    >The Future is at Hand: Theological and Philosophical
                    Perspectives on the Global Pandemic</a
                  >
                </h2>
                <p class="card-text">
                  The Laudato Si&#039; Research Institute, Campion Hall - Online
                  via Zoom
                </p>
                <span class="card-text" style="font-size: 12px"
                  >20 Jan 2022</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Discover carousel start -->

    <div class="container-fluid" id="discover">
      <div class="row">
        <div class="col-12 col-md-12 col-sm-6">
          <div
            id="carouselExampleIndicators"
            class="carousel slide"
            data-bs-ride="carousel"
          >
            <div class="carousel-indicators">
              <button
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide-to="0"
                class="active"
                aria-current="true"
                aria-label="Slide 1"
              ></button>
              <button
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide-to="1"
                aria-label="Slide 2"
              ></button>
            </div>
            <div class="carousel-inner">
              <h2>Discover</h2>
              <div class="carousel-item active">
                <div class="row">
                  <div class="col-md-12 col-sm-6 m-1">
                    <div class="card-group">
                      <div
                        class="card m-2 mb-5"
                        style="background: #e0ded9; border: none"
                      >
                        <img
                          src="/Bootstrap-demo/Images/Oxford/disc_oed_bird.jpg"
                          class="card-img-top"
                          alt="..."
                        />
                        <div class="card-body">
                          <h4 class="card-title1">The OED Blog</h4>
                          <p class="card-text1">
                            A little birdie told us that its time for the OED
                            December 2021 update
                          </p>
                        </div>
                      </div>
                      <div
                        class="card m-2 mb-5"
                        style="background: #e0ded9; border: none"
                      >
                        <img
                          src="/Bootstrap-demo/Images/Oxford/bcar_health_campaign4.jpg"
                          class="d-block card-img-top"
                          alt="..."
                        />
                        <div class="card-body">
                          <h4 class="card-title1">
                            Be responsible. Be considerate. Be safe
                          </h4>
                          <p class="card-text1">
                            Find out more about the University&#039;s latest
                            health guidance
                          </p>
                        </div>
                      </div>
                      <div
                        class="card m-2 mb-5"
                        style="background: #e0ded9; border: none"
                      >
                        <img
                          src="/Bootstrap-demo/Images/Oxford/disc_quad_foodbank.jpg"
                          class="d-block card-img-top"
                          alt="..."
                        />
                        <div class="card-body">
                          <h4 class="card-title1">
                            The desire to help one another
                          </h4>
                          <p class="card-text1">
                            Oxford Mutual Aid sprang up with COVID but it has
                            addressed in the city
                          </p>
                        </div>
                      </div>
                      <div
                        class="card m-2 mb-5"
                        style="background: #e0ded9; border: none"
                      >
                        <img
                          src="/Bootstrap-demo/Images/Oxford/disc_oup_top10.jpg"
                          class="d-block card-img-top"
                          alt="..."
                        />
                        <div class="card-body">
                          <h4 class="card-title1">The OUP blog</h4>
                          <p class="card-text1">
                            The top 10 literature blog posts of 2021
                          </p>
                        </div>
                      </div>
                      <div
                        class="card m-2 mb-5"
                        style="background: #e0ded9; border: none"
                      >
                        <img
                          src="/Bootstrap-demo/Images/Oxford/disc_dodo_amber.jpg"
                          class="d-block card-img-top"
                          alt="..."
                        />
                        <div class="card-body">
                          <h4 class="card-title1">More than a dodo blog</h4>
                          <p class="card-text1">
                            Reconstructing the cretaceous with bones and amber
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                  <div class="col-md-12 col-sm-6 m-1">
                    <div class="card-group">
                      <div
                        class="card m-2"
                        style="background: #e0ded9; border: none"
                      >
                        <img
                          src="/Bootstrap-demo/Images/Oxford/disc_conv_tourettes.jpg"
                          class="d-block card-img-top"
                          alt="..."
                        />
                        <div class="card-body">
                          <h4 class="card-title1">
                            Oxford in The Conversation
                          </h4>
                          <p class="card-text1">
                            Tourettes syndrome: just a joke?
                          </p>
                        </div>
                      </div>
                      <div
                        class="card m-2"
                        style="background: #e0ded9; border: none"
                      >
                        <img
                          src="/Bootstrap-demo/Images/Oxford/disc_pod_almanac.jpg"
                          class="d-block card-img-top"
                          alt="..."
                        />
                        <div class="card-body">
                          <h4 class="card-title1">Featured podcast</h4>
                          <p class="card-text1">
                            Graffiti, music, and football ultras: expressing
                            dissent in MENA (Middle East and North Africa)
                          </p>
                        </div>
                      </div>
                      <div
                        class="card m-2"
                        style="background: #e0ded9; border: none"
                      >
                        <img
                          src="/Bootstrap-demo/Images/Oxford/disc_mart_wealth.jpg"
                          class="d-block card-img-top"
                          alt="..."
                        />
                        <div class="card-body">
                          <h4 class="card-title1">Oxford Martin School</h4>
                          <p class="card-text1">
                            How wealth matters for social policy
                          </p>
                        </div>
                      </div>
                      <div
                        class="card m-2"
                        style="background: #e0ded9; border: none"
                      >
                        <img
                          src="/Bootstrap-demo/Images/Oxford/disc_oxplore_pig.jpg"
                          class="d-block card-img-top"
                          alt="..."
                        />
                        <div class="card-body">
                          <h4 class="card-title1">
                            Oxplore: the Home of Big Questions
                          </h4>
                          <p class="card-text1">
                            Explore the Universitys innovative website for 11-18
                            year olds
                          </p>
                        </div>
                      </div>
                      <div
                        class="card m-2"
                        style="background: #e0ded9; border: none"
                      >
                        <img
                          src="/Bootstrap-demo/Images/Oxford/disc_dev_watts.jpg"
                          class="d-block card-img-top"
                          alt="..."
                        />
                        <div class="card-body">
                          <h4 class="card-title1">Development Office new</h4>
                          <p class="card-text1">
                            Alan Davidson Foundation supports ground-breaking
                            Motor Neurone Disease research
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- carousel end  -->

    <!--start Studying at Oxford -->
    <section class="oxford1">
      <div class="container-fluid" id="Oxford">
        <div class="row">
          <div class="col-md-12">
            <h2 class="study">Studying at Oxford</h2>
            <div class="card-image" style="display: flex">
              <div class="m-2">
                <div class="card text-white" style="width: 350px; border: none">
                  <img
                    src="/Bootstrap-demo/Images/Oxford/st_ox_undergrad2.jpg"
                    class="card-img-top"
                    alt="..."
                  />
                  <div class="card-img-overlay">
                    <a href="#" class="btn btn-light"
                      >Undergraduate admissions
                      <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    </a>
                  </div>
                </div>
              </div>
              <div class="m-2">
                <div class="card text-white" style="width: 350px; border: none">
                  <img
                    src="/Bootstrap-demo/Images/Oxford/st_ox_grad3.jpg"
                    class="card-img-top"
                    alt="..."
                  />
                  <div class="card-img-overlay">
                    <a href="#" class="btn btn-light" style="border-radius: 0px"
                      >Graduate admission
                      <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    </a>
                  </div>
                </div>
              </div>
              <div class="m-2">
                <div class="card text-white" style="width: 350px; border: none">
                  <img
                    src="/Bootstrap-demo/Images/Oxford/st_ox_conted2.jpg"
                    class="card-img-top"
                    alt="..."
                  />
                  <div class="card-img-overlay">
                    <a href="#" class="btn btn-light" style="border-radius: 0px"
                      >Continuing education
                      <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    </a>
                  </div>
                </div>
              </div>
              <div class="m-2">
                <div class="card text-white" style="width: 350px; border: none">
                  <img
                    src="/Bootstrap-demo/Images/Oxford/st_ox_current4.jpg"
                    class="card-img-top"
                    alt="..."
                  />
                  <div class="card-img-overlay">
                    <a href="#" class="btn btn-light" style="border-radius: 0px"
                      >Current Oxford students
                      <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--End Studying at Oxford -->
    <!-- footer start-->

    <footer
      id="page-footer"
      class="page-level page-footer"
      style="position: absolute; top: 275%"
    >
      <div class="wrapper">
        <div class="row">
          <div
            id="block-block-15"
            class="block block-block social-links block-block-15 d-flex"
            style="
              border-bottom: 1px solid #122f53;
              padding-bottom: 5px;
              margin: auto 10px;
            "
          >
            <h2 class="connect">Connect with us</h2>
            <ul class="social d-flex">
              <div class="icon-bar" style="margin-left: -10px">
                <a href="#"
                  ><ion-icon name="school" class="logo1"></ion-icon
                ></a>
                <a href="#"
                  ><ion-icon name="logo-youtube" class="logo2"></ion-icon
                ></a>
                <a href="#"
                  ><ion-icon name="logo-facebook" class="logo3"></ion-icon
                ></a>
                <a href="#"
                  ><ion-icon name="logo-twitter" class="logo4"></ion-icon
                ></a>
                <a href="#"
                  ><ion-icon name="logo-linkedin" class="logo5"></ion-icon
                ></a>
                <a href="#"
                  ><ion-icon name="cloudy-night" class="logo6"></ion-icon
                ></a>
                <a href="#"
                  ><ion-icon name="logo-instagram" class="logo7"></ion-icon
                ></a>
                <a href="#"
                  ><ion-icon name="logo-medium" class="logo8"></ion-icon
                ></a>
                <a href="#"
                  ><ion-icon name="logo-wechat" class="logo9"></ion-icon
                ></a>
              </div>
            </ul>
          </div>

          <div
            id="block-block-14"
            class="block block-block site-map block-block-14 d-flex"
            aria-label="Footer"
            style="margin-top: 20px"
          >
            <div class="sitemap-item" style="border-left: 1px solid #122f53">
              <h2 class="info">Information About</h2>
              <ul class="item1" style="list-style: none">
                <li>
                  <a href="//www.ox.ac.uk/about/organisation"
                    >Oxford University</a
                  >
                </li>
                <li>
                  <a href="//www.ox.ac.uk/strategicplan">Strategic plan</a>
                </li>
                <li><a href="//www.ox.ac.uk/research">Oxford's research</a></li>
                <li>
                  <a href="//www.ox.ac.uk/students/fees-funding"
                    >Course fees and funding</a
                  >
                </li>
                <li>
                  <a href="//www.ox.ac.uk/research/libraries">Libraries</a>
                </li>
                <li>
                  <a
                    href="//www.ox.ac.uk/visitors/visiting-oxford/visiting-museums-libraries-places"
                    >Museums and collections</a
                  >
                </li>
                <li>
                  <a
                    href="//www.ox.ac.uk/admissions/undergraduate/visiting-and-outreach/open-days"
                    >Open days</a
                  >
                </li>
                <li>
                  <a
                    href="//www.ox.ac.uk/about/organisation/history/oxford-glossary"
                    >Oxford glossary</a
                  >
                </li>
                <li>
                  <a href="https://compliance.web.ox.ac.uk/freedom-of-speech"
                    >Freedom of speech statement</a
                  >
                </li>
                <li>
                  <a href="https://compliance.admin.ox.ac.uk/modern-slavery"
                    >Statement on Modern Slavery</a
                  >
                </li>
                <li>
                  <a
                    href="//www.ox.ac.uk/about/organisation/governance/dataprivacy"
                    >Data privacy / GDPR</a
                  >
                </li>
                <li>
                  <a href="http://www.sport.ox.ac.uk/">Sport at Oxford</a>
                </li>
                <li>
                  <a href="http://www.conference-oxford.com/index.php"
                    >Conferences at Oxford</a
                  >
                </li>
                <li><a href="//www.ox.ac.uk/cn">牛津大学</a></li>
              </ul>
            </div>
            <div
              class="sitemap-item"
              style="border-left: 1px solid #122f53; margin-left: 160px"
            >
              <h2 class="info2">Information For</h2>
              <ul class="item2">
                <li>
                  <a href="//www.ox.ac.uk/admissions/undergraduate"
                    >Prospective undergraduates</a
                  >
                </li>
                <li>
                  <a href="//www.ox.ac.uk/admissions/graduate"
                    >Prospective graduate students</a
                  >
                </li>
                <li>
                  <a href="//www.ox.ac.uk/content/continuing-education"
                    >Prospective&nbsp;Continuing Education&nbsp;students</a
                  >
                </li>
                <li>
                  <a href="//www.ox.ac.uk/content/online-and-distance-courses-0"
                    >Prospective online/distance learning students</a
                  >
                </li>
                <li>
                  <a href="//www.ox.ac.uk/students">Current Oxford students</a>
                </li>
                <li>
                  <a href="https://staff.admin.ox.ac.uk/"
                    >Current Oxford staff</a
                  >
                </li>
                <li>
                  <a href="//www.ox.ac.uk/local-community"
                    >Oxford residents/Community</a
                  >
                </li>
                <li><a href="//www.ox.ac.uk/visitors">Visitors/Tourists</a></li>
                <li><a href="//www.ox.ac.uk/news-and-events">Media</a></li>
                <li><a href="https://www.alumni.ox.ac.uk/">Alumni</a></li>
                <li>
                  <a
                    href="//www.ox.ac.uk/admissions/undergraduate/applying-to-oxford/teachers"
                    >Teachers</a
                  >
                </li>
                <li>
                  <a href="//www.ox.ac.uk/oxford-in-westminster"
                    >Parliamentarians</a
                  >
                </li>
                <li>
                  <a href="//www.ox.ac.uk/research/innovation-and-partnership"
                    >Businesses/Partnerships</a
                  >
                </li>
              </ul>
            </div>
            <div
              class="sitemap-item"
              style="
                border-left: 1px solid #122f53;
                margin-left: 100px;
                margin-bottom: 200px;
              "
            >
              <h2 class="info3">Quick Links</h2>
              <ul class="item3">
                <li>
                  <a href="https://uni-of-oxford.custhelp.com/app/home"
                    >Any questions?</a
                  >
                </li>
                <li>
                  <a href="https://www.jobs.ox.ac.uk/">Jobs and vacancies</a>
                </li>
                <li>
                  <a href="//www.ox.ac.uk/about/facts-and-figures/dates-of-term"
                    >Term dates</a
                  >
                </li>
                <li><a href="//www.ox.ac.uk/visitors/map">Map</a></li>
                <li>
                  <a href="https://outlook.office.com/owa/">Nexus365 email</a>
                </li>
                <li>
                  <a href="http://www.campaign.ox.ac.uk">Giving to Oxford</a>
                </li>
                <li>
                  <a href="http://www.oxforduniversityimages.com/"
                    >Oxford University Images</a
                  >
                </li>
              </ul>
            </div>
          </div>

          <div
            id="block-block-16"
            class="block block-block legals-questions block-block-16"
            aria-label="Legal footer"
          >
            <p class="text" style="color: white; font-size: 85%">
              This website contains a wide variety of images relating to the
              Universitys activities. Many of those images were originally
              photographed or filmed prior to the COVID-19 pandemic and the
              restrictions and preventative measures that have been put in place
              since. The images may therefore not be representative of the
              current requirements and practices on campus in relation to social
              distancing, face covering and restricted gatherings.
            </p>
            <hr />
            <ul class="last">
              <li
                class="copyright"
                style="margin-left: -30px; padding-right: 20px"
              >
                © University of Oxford 2022
              </li>
              <li>
                <a href="//www.ox.ac.uk/contact-us">Contact us</a>
              </li>
              <li>
                <a href="//www.ox.ac.uk/about-this-site">About this site</a>
              </li>
              <li>
                <a href="//www.ox.ac.uk/legal">Legal</a>
              </li>
              <li>
                <a href="//www.ox.ac.uk/privacy-policy">Privacy policy</a>
              </li>
              <li>
                <a href="#cookie-settings">Cookie settings</a>
              </li>
              <li>
                <a href="//www.ox.ac.uk/accessibility"
                  >Accessibility Statement</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <!--footer End  -->
    <script src="assets/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
