<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ADVENTURE</title>
    <!-- === CSS === -->
    <link rel="stylesheet" href="Temp-Adventure.css" />
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar">
      <h1 class="logo">ADVENTURE</h1>
      <ul class="nav-links">
        <li class="active"><a href="#"></a>Home</li>
        <li><a href="#"></a>Tours</li>
        <li><a href="#"></a>Explore</li>
        <li><a href="#"></a>About</li>
        <li class="ctn"><a href="#"></a>Contact</li>
      </ul>
      <img
        src="/Bootstrap-demo/images/Youtube1/Menu.png"
        alt=""
        class="menu-btn"
      />
    </nav>
    <!--Header-->
    <header>
      <div class="header-content">
        <h2>Explore The Colourful World</h2>
        <div class="line"></div>
        <h1>A WONDERFUL GIFT</h1>
        <a href="#" class="ctn">Learn More</a>
      </div>
    </header>
    <!-- == Events == -->
    <section class="events">
      <div class="title">
        <h1>Upcoming Events</h1>
        <div class="line"></div>
      </div>
      <div class="row">
        <div class="col">
          <img src="/Bootstrap-demo/Images/Youtube1/Mountain5.jpg" alt="" />
          <h4>Everest Camp Trek</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.Nobis,
            possimus praesentium et facere nulla sed aspernatur officia.Rem
            earum ea repellendus eligendi odio minus non.
          </p>
          <a href="#" class="ctn">Learn More</a>
        </div>
        <div class="col">
          <img src="/Bootstrap-demo/Images/Youtube1/Mountain3.jpg" alt="" />
          <h4>Walking Holidays</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.Nobis,
            possimus praesentium et facere nulla sed aspernatur officia.Rem
            earum ea repellendus eligendi odio minus non.
          </p>
          <a href="#" class="ctn">Learn More</a>
        </div>
      </div>
    </section>

    <section class="explore">
      <div class="explore-content">
        <h1>EXPLORE THE WORLD</h1>
        <div class="line"></div>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium
          eum totam quas voluptatibus at voluptate pariatur iste consequuntur
          illo fugiat natus delectus cumque modi laboriosam, eligendi
          repudiandae harum placeat aliquid.
        </p>
        <a href="#" class="ctn">Learn More</a>
      </div>
    </section>

    <section class="tours">
      <div class="row">
        <div class="col content-col">
          <h1>UPCOMING TOURS & DESTINATION</h1>
          <div class="line"></div>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam
            fuga mollitia quae distinctio commodi tempore! Esse voluptatibus ex
            commodi facilis voluptatem ipsa molestias veniam hic suscipit error.
            Doloribus, laudantium accusamus.
          </p>
          <a href="#" class="ctn">Learn More</a>
        </div>
        <div class="col image-col">
          <div class="image-gallery">
            <img src="/Bootstrap-demo/Images/Youtube1/Mountain5.jpg" alt="" />
            <img src="/Bootstrap-demo/Images/Youtube1/Mountain6.jpg" alt="" />
            <img src="/Bootstrap-demo/Images/Youtube1/Mountain7.jpg" alt="" />
            <img src="/Bootstrap-demo/Images/Youtube1/Mountain8.jpg" alt="" />
          </div>
        </div>
      </div>
    </section>
    <section class="footer">
      <p>
        123 Fifth Avenue, NY 10160, New York, USA | Phone: 800-123-456 | Email:
        contact@example.com
      </p>
      <p>Copyright &copy; 2020 Outdoor Adventure</p>
    </section>
    <script>
      const menuBtn = document.querySelector(".menu-btn");
      const navlinks = document.querySelector(".nav-links");

      menuBtn.addEventListener("click", () => {
        navlinks.classList.toggle("mobile-menu");
      });
    </script>
  </body>
</html>
